<main>
  <section>
    <h1>홈페이지</h1>

    {{! 전달받은 객체 }}
    {{!-- <p>{{hello}}</p> --}}

    {{! views/partials/posts/list.hbs }}
    {{!-- {{> list}} --}}

    {{!-- {{> posts/list}} --}}
    {{!-- {{> posts/detail}} --}}
  </section>
</main>